body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vmin;
    height: 100vmin;
}

label {
    margin: 5% 0% 0% 5%;
}

input {
    width: 70%;
    height: 12%;
    margin: 5% 0% 0% 5%;
}

button {
    width: 88.5%;
    height: 12%;
    margin: 5% 0% 0% 5%;
}

#settings {
    box-sizing: unset;
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 300px;
    width: 300px;
    background-color: #404040;
    outline: 2px solid #202020;
}

#settings-toggle {
    position: absolute;
    margin: 0%;
    top: calc(2vh - 20px);
    left: calc(2vh - 20px);
    height: 40px;
    width: 40px;
    background-color: #404040;
    outline: 2px solid #202020;
}

